body{
    text-align: center;
    margin-left:auto;
    padding:auto;
    background: url("./images/twon.png");
}

.content{
    margin-top:200px;
    background-color:aqua;
}

#restart_button
{
  height: 0;
  z-index: 100;
}