
#Menu
{
    margin: auto;
    padding: auto;
    height: 100%;
    text-align: center;
}

.menu-buttons
{
    display: flex;
    justify-content: center;
    align-content: center;
}

#WaitingRoom
{
    margin: auto;
    padding: auto;
    background-color: grey;
    border-radius: 5px;
    min-height: 400px;
    width: 600px;
}

.PLayer-list-item
{
    color: white;
}

.menu-buttons-create-join
{
    width: 40%;
}